@using Zouryoku.Pages.SyainMastaMaintenance
@model SearchModel

<table class="table table-bordered table-striped table-hover text-nowrap">
    <thead class="table-primary text-center align-middle">
        <tr>
            <th style="width: 10%">社員番号</th>
            <th style="width: 20%">社員名</th>
            <th style="width: 30%">部署</th>
            <th style="width: 7%">級職</th>
            <th style="width: 16%">勤怠属性</th>
            <th style="width: 7%">ロール</th>
            <th style="width: 7%">退職</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var syain in Model.Results)
        {
            <tr>
                <td class="text-center align-middle">@syain.SyainNo</td>
                <td class="align-middle">
                    <a href="javascript:void(0);" class="text-decoration-none fw-bold text-primary"
                       onclick="openInsert(@syain.Id);">
                        @syain.Name
                    </a>
                </td>
                <td>@syain.BusyoName</td>
                <td class="text-center align-middle">@syain.Grade</td>
                <td class="text-center align-middle">@syain.KintaiZokuseiName</td>
                <td class="text-center align-middle">@syain.UserRoleName</td>
                <td class="text-center align-middle">@syain.RetiredDisplay</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ValidationScriptsPartial" />
