@page
@using Zouryoku.Pages.Shared.Components
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using static Zouryoku.Pages.JuchuJohoKensaku.IndexModel.JuchuJohoSearchModel
@model Zouryoku.Pages.JuchuJohoKensaku.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "受注情報検索";
}

@section InputStyles {
    <style>
        .deleted-mark {
            color : red;
        }
    </style>
}

<div class="app-screen--search">
    <div class="mt-3">
        <button id="search-history-btn" class="app-btn__base btn btn-secondary d-none">参照履歴</button>
    </div>

    <form id="search-form" class="app-area__search-criteria">
        <div class="row mt-3">
            @* 受注番号 *@
            <div class="col-12 col-lg-6 row align-content-center">
                <label class="col-12 col-lg-2 col-form-label app-input__label"
                       asp-for="SearchConditions.JuchuuNo.ProjectNo">受注番号</label>
                <div class="col-12 col-lg">
                    <span class="text-danger" asp-validation-for="SearchConditions.JuchuuNo.JuchuuGyoNo"></span>
                    <div id="@Html.IdFor(model => model.SearchConditions.JuchuuNo)" class="row gap-0 px-2 px-lg-0">
                        @* NOTE: formに直接colを付与するとform-controlのwidth: 100%が優先されてしまう *@
                        <div class="col-5 p-1">
                            <input asp-for="SearchConditions.JuchuuNo.ProjectNo" class="form-control app-input__textbox" />
                        </div>
                        <div class="col-5 p-1">
                            <input asp-for="SearchConditions.JuchuuNo.JuchuuNo" class="form-control app-input__textbox" />
                        </div>
                        <div class="col-2 p-1">
                            <input class="form-control app-input__textbox" type="text" asp-for="SearchConditions.JuchuuNo.JuchuuGyoNo"/>
                        </div>
                    </div>
                </div>
            </div>

            @* 着工日（範囲検索） *@
            <div class="col-12 col-lg-6 row align-content-center">
                <label class="col-12 col-lg-2 col-form-label app-input__label"
                       asp-for="SearchConditions.ChaYmd"></label>
                <div class="col-12 col-lg row">
                    <div class="input-group col">
                        <input class="form-control app-input__textbox" asp-for="SearchConditions.ChaYmd.From" />
                    </div>
                    <partial name="Components/_Datepicker"
                             model="@(new DatepickerModel { 
                                 Id = Html.IdFor(model => model.SearchConditions.ChaYmd.From)
                             })" />
                    <div class="col-auto align-content-center app-input__label">～</div>
                    <div class="input-group col">
                        <input class="form-control app-input__textbox" asp-for="SearchConditions.ChaYmd.To"  />
                    </div>
                    <partial name="Components/_Datepicker"
                             model="@(new DatepickerModel { 
                                 Id = Html.IdFor(model => model.SearchConditions.ChaYmd.To)
                             })" />
                </div>
            </div>
        </div>

        <div class="row mt-3">
            @* 施工部署 *@
            <div class="col-12 col-lg-6 row">
                <label class="col-12 col-lg-2 col-form-label app-input__label" asp-for="SearchConditions.SekouBusyoCd"></label>
                <input class="col-12 col-lg form-control mx-3 mx-lg-0 app-input__textbox" type="text" asp-for="SearchConditions.SekouBusyoCd" />
            </div>
            @* 契約状態 *@
            <div class="col-12 col-lg-6 row mt-4 mt-lg-2">
                <label class="col-auto form-label app-input__label " asp-for="SearchConditions.Keiyaku"></label>
                <div class="col">
                    @foreach (var keiyaku in Enum.GetValues<IndexModel.JuchuJohoSearchModel.KeiyakuJoutai>())
                    {
                        var display = keiyaku.GetType()
                        .GetMember(keiyaku.ToString())
                        .Single()
                        .GetCustomAttribute<DisplayAttribute>()?
                        .Name ?? keiyaku.ToString();

                        // NOTE: asp-forはid属性を列挙体の値によって切り替えられないため一意のidを生成
                        var id = $"{Html.IdFor(model => model.SearchConditions.Keiyaku)}-{keiyaku}";

                        <div class="form-check form-check-inline">
                            <input id="@id"
                                    class="form-check-input"
                                    type="radio"
                                    value="@keiyaku"
                                    asp-for="SearchConditions.Keiyaku" />
                            <label class="form-check-label app-input__label" for="@id">@display</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mt-3">
            @* 顧客名 *@
            <div class="col-12 col-lg-6 row">
                <label class="col-12 col-lg-2 col-form-label app-input__label" asp-for="SearchConditions.KokyakuName"></label>
                <input class="col-12 col-lg form-control mx-3 mx-lg-0 app-input__textbox" type="text" asp-for="SearchConditions.KokyakuName" />
            </div>
            @* 件名 *@
            <div class="col-12 col-lg-6 row">
                <label class="col-12 col-lg-2 col-form-label app-input__label" asp-for="SearchConditions.Bukken"></label>
                <input class="col-12 col-lg form-control mx-3 mx-lg-0 app-input__textbox" type="text" asp-for="SearchConditions.Bukken" />
            </div>
        </div>

        <div class="row mt-3 gap-3 gap-lg-0">
            @* 送り元 *@
            <div class="col-12 col-lg-6 row">
                @* 送り元部署 *@
                <div class="col-12 col-lg-5 row">
                    <label class="col-12 col-lg-auto col-form-label app-input__label" asp-for="SearchConditions.IriBusCd"></label>
                    <input class="col-12 col-lg form-control mx-3 mx-lg-0 app-input__textbox" type="text" asp-for="SearchConditions.IriBusCd" />
                </div>
                @* 送り担当者 *@
                <div class="col-12 col-lg-7 row">
                    <label class="col-12 col-lg-auto col-form-label app-input__label" asp-for="SearchConditions.OkrTanCd1"></label>
                    <select class="col-12 col-lg form-select mx-3 mx-lg-0 app-input__select" asp-for="SearchConditions.OkrTanCd1"></select>
                </div>
            </div>
            @* 受注金額 *@
            <div class="col-12 col-lg-6 row">
                <label class="col-12 col-lg-2 col-form-label app-input__label" asp-for="SearchConditions.JucKin"></label>

                <div class="col d-flex flex-column">
                    <span class="text-danger" asp-validation-for="SearchConditions.JucKin"></span>
                    <div class="d-flex align-items-center">
                        <input class="form-control numeric comma app-input__textbox" type="text" autocomplete="off" asp-for="SearchConditions.JucKin" integer-digit="19" />
                        <span class="ms-2 app-input__label">～</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            @* 並び順 *@
            <div class="col-12 row mt-3">
                <label class="col-auto form-label app-input__label " asp-for="SearchConditions.SortKey"></label>
                <div class="col">
                    @foreach (var sortKey in Enum.GetValues<IndexModel.JuchuJohoSearchModel.SortKeyList>())
                    {
                        var display = sortKey.GetType()
                        .GetMember(sortKey.ToString())
                        .Single()
                        .GetCustomAttribute<DisplayAttribute>()?
                        .Name ?? sortKey.ToString();

                        // NOTE: asp-forはid属性を列挙体の値によって切り替えられないため一意のidを生成
                        var id = $"{Html.IdFor(model => model.SearchConditions.SortKey)}-{sortKey}";

                        <div class="form-check form-check-inline">
                            <input id="@id"
                                    class="form-check-input"
                                    type="radio"
                                    value="@sortKey"
                                    asp-for="SearchConditions.SortKey" />
                            <label class="form-check-label app-input__label" for="@id">@display</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mx-0 mt-3">
            @* NOTE: type="submit"としないと検索欄でEnterを押してもsubmitイベントが発生しない *@
            <button id="search-btn" class="app-btn__base btn btn-primary col-12 col-lg-auto" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>検索
            </button>
        </div>
    </form>

    @* ツールボタン部分 *@
    <div class="app-area__tool-button"></div>

    @* 動的ページ部分 *@
    <main id="partial-page-div" class="app-search__search-results">
        <partial name="_JuchuPage" model="Model.PartialPage" />
    </main>
</div>

@section InputScripts {
    <script>
        $(function () {
            // ==================================
            // 定数
            // ==================================

            // jQueryセレクタ
            // ----------------------------------

            // 受注情報選択
            const SELECTOR_SELECT_JUCHU = '[data-js="juchuSelect"]';
            // 削除ボタン
            const SELECTOR_DELETE_BTN = '[data-js="historyDelete"]';
            // ページ遷移ボタン
            const SELECTOR_PAGER_BTN = '[data-js="movePage"]';
            // 受注情報画面ボタン
            const SELECTOR_INFO_BTN = '[data-js="juchuShowInfo"]';
            // 検索フォーム
            const SELECTOR_SEARCH_FORM = '#search-form';

            // jQueryオブジェクト
            // ----------------------------------

            // 動的ページ部分
            const $partialPage = $('#partial-page-div');
            // 検索フォーム
            const $searchForm = $(SELECTOR_SEARCH_FORM);
            // 入力欄
            const $kokyakuNameInput = $('#@Html.IdFor(model => model.SearchConditions.KokyakuName)');
            const $bukkenInput = $('#@Html.IdFor(model => model.SearchConditions.Bukken)');

            // バリデーション設定
            // ----------------------------------

            initValidation("#search-form");

            // URL
            // ----------------------------------

            // オートコンプリート
            const URL_AUTOCOMPLETE_KOKYAKU_NAME = 'api/KeiyakusakiJuchusakiSuggestions';
            const URL_AUTOCOMPLETE_BUKKEN = 'api/JuchuBukkenMeiSuggestions';

            // 受注情報表示画面
            const URL_JUCHU_JOHO_HYOJI = '@Url.Page("../JuchuJohoHyoji/Index")';

            // 受注情報の存在チェック
            const URL_CHECK_EXISTENCE = toUrl('CheckExistence');
            // 参照履歴削除
            const URL_DELETE_HISTORY = toUrl('DeleteHistory');
            // ページ移動
            const URL_MOVE_PAGE = toUrl('MovePage');
            // 履歴参照
            const URL_REFERENCE_HISTORY = toUrl('ReferenceHistory');
            // 受注情報検索
            const URL_SEARCH = toUrl('SearchJuchus');
            // 受注情報カードクリック（参照履歴を追加）
            const URL_SELECT = toUrl('Select');
            // 送り担当者取得
            const URL_GET_OKR_TAN = toUrl('SearchOkrTans');

            // その他
            // ----------------------------------

            // モーダルのヘッダーカラー
            const MODAL_HEADER_COLOR = 'var(--iframe-header-color)';

            // ==================================
            // イベント
            // ==================================

            // 検索実行時の条件を保持する変数
            let searchedParams = [];

            // オートコンプリート設定
            initAutocomplete($kokyakuNameInput, URL_AUTOCOMPLETE_KOKYAKU_NAME);
            initAutocomplete($bukkenInput, URL_AUTOCOMPLETE_BUKKEN);

            // バリデーション設定
            initValidation(SELECTOR_SEARCH_FORM);

            // submitイベントを破棄する
            // NOTE: 検索欄でEnter押下して検索実行する
            $(document).on('submit', SELECTOR_SEARCH_FORM, () => {
                return false;
            });

            // 初期表示時に送り担当者リストボックスを生成
            loadOkrTans();

            // カードクリック時
            $(document).on('click', SELECTOR_SELECT_JUCHU, async function() {

                // 参照履歴テーブルに履歴を追加
                const params = $(this).serializeArray();
                const promise = postAsync(URL_SELECT, params);

                // 親画面へ渡すパラメータを取得
                const id = $(this).data('juchu-id');
                const project_no = $(this).data('project-no');
                const juchuu_no = $(this).data('juchuu-no');
                const juchuu_gyo_no = $(this).data('juchuu-gyo-no');
                const bukken = $(this).data('bukken');

                // 親画面へメッセージを渡す
                window.parent.postMessage({
                    type: 'kingsJuchuSelected',
                    id,
                    project_no,
                    juchuu_no,
                    juchuu_gyo_no,
                    bukken
                }, window.location.origin);

                // 参照履歴への追加を待機
                await promise;

                // この画面を閉じる
                closeCurrentIziModal();
            });

            // 検索ボタンクリック時
            $('#search-btn').on('click', async function() {
                // 既存のバリデーションエラー表示をクリア
                clearErrors(SELECTOR_SEARCH_FORM);

                // クライアント側バリデーション
                if (!$searchForm.valid())
                    return;

                // 検索条件を保持する
                searchedParams = $searchForm.serializeArray();

                // 参照履歴ボタンを表示
                $('#search-history-btn').removeClass('d-none');

                // 検索処理
                const promise = getAsync(URL_SEARCH, searchedParams);

                // 検索結果を部分ページ部分に反映
                updatePartialPage(await promise);
            });

            // 履歴削除ボタンクリック時
            $(document).on('click', SELECTOR_DELETE_BTN, function() {
                // パラメータの取得
                const params = $(this).closest('form').serializeArray();

                // ダイアログ表示
                deleteConfirmSwal(
                    '削除してもよろしいでしょうか？',
                    null,
                    // OK押下時
                    async () => {
                        // 削除処理
                        await postAsync(URL_DELETE_HISTORY, params);

                        // 更新後のページを取得
                        const promise = reloadContents();

                        // 成功ダイアログの表示
                        deleteSuccessSwal('');

                        // ページ更新
                        updatePartialPage(await promise);
                    }
                );
            });

            // 参照履歴ボタンクリック時
            $('#search-history-btn').on('click', async function() {
                // 参照履歴ボタンを非表示
                $(this).addClass('d-none');

                // 参照履歴を取得
                const data = await getAsync(URL_REFERENCE_HISTORY);

                // 部分ページに反映
                updatePartialPage(data);
            });

            // ページ移動ボタンクリック時
            $(document).on('click', SELECTOR_PAGER_BTN, async function() {
                // パラメータ取得
                const offset = $(this).data('offset');

                // ページ移動後の表示データを取得
                const data = await movePage(offset);

                // 部分ページに反映
                updatePartialPage(data);
            });

            // 受注情報リンククリック
            $(document).on('click', SELECTOR_INFO_BTN, function() {
                const juchuId = $(this).data('juchu-id');

                // 選択された受注情報が存在するかチェック
                sendGetAjax(URL_CHECK_EXISTENCE, {juchuId,}, () => {
                    // パラメーター設定
                    const modalId = 'juchu-info-modal';
                    const url = `${URL_JUCHU_JOHO_HYOJI}?id=${juchuId}`;
                    const title = '受注情報画面';
                    const closedFunc = async () => updatePartialPage(await reloadContents());

                    showModal(modalId, url, title, '', closedFunc, 1000, 700, MODAL_HEADER_COLOR);
                });
            });

            // 取り消しボタン押下
            $(document).on('click', '#clear-btn', function() {
                $('#sekinin-sya-name-input').val('');
                $('#sekinin-sya-base-id-input').val('');
            });

            // 送り元部署変更時
            $(document).on('blur',
                '#@Html.IdFor(model => model.SearchConditions.IriBusCd)',
                async function () {
                    // 送り担当者リストボックスを更新
                    await loadOkrTans();
                });

            // ======================================
            // 共通処理
            // ======================================

            /**
             * sendGetAjaxをPromise化する
             * @@param {URL} url リクエスト先のURL
             * @@param {JSON} [params=null] リクエストボディに含めるパラメータ
             * @@returns resolveでdataキーに格納されているデータを返すPromise
             */
            function getAsync(url, params = null) {
                return new Promise(resolve => {
                    sendGetAjax(url, params, data => resolve(data), false);
                });
            }

            /**
             * sendAjaxをPromise化する
             * @@param {URL} url リクエスト先のURL
             * @@param {JSON} [params=null] リクエストボディに含めるパラメータ
             * @@returns resolveでdataキーに格納されているデータを返すPromise
             */
            function postAsync(url, params = null) {
                return new Promise(resolve => {
                    sendAjax(url, params, data => resolve(data), false, null, true);
                });
            }

            /**
             * 送り担当者リストボックスを生成する
             */
            async function loadOkrTans() {

                const $iriBus = $('#@Html.IdFor(model => model.SearchConditions.IriBusCd)');
                const iriBusCd = $iriBus.val();
                const $select = $('#@Html.IdFor(model => model.SearchConditions.OkrTanCd1)');

                // 送り担当者リスト再取得
                const data = await getAsync(URL_GET_OKR_TAN, { iriBusCd });
                // リスト更新
                $select.empty();

                // 先頭に空を追加（常に表示）
                $('<option>')
                    .val(null)
                    .text(null)
                    .appendTo($select);

                $.each(data, function (_, item) {
                    $('<option>')
                        .val(item.value)
                        .text(item.text)
                        .appendTo($select);
                });
            }

            /**
             * ページをオフセット分移動した先の表示データを取得する
             * @@param {number} offset オフセット
             */
            async function movePage(offset) {
                // パラメータの取得
                const $pageIndex = $('#page-index');
                const $isReferHistory = $('#is-refer-history');

                // 送信用のデータ
                // NOTE: serializeArrayと同じ変換を行う
                const pageParams = [
                    {
                        // NOTE: offsetはvalueを自分で設定したい場面（リロードなど）があるため手動で設定
                        'name': 'pageOffset',
                        'value': offset
                    },
                    {
                        'name': $pageIndex.attr('name'),
                        'value': $pageIndex.val()
                    },
                    {
                        'name': $isReferHistory.attr('name'),
                        'value': $isReferHistory.val()
                    }
                ];
                const params = pageParams.concat(searchedParams);

                return getAsync(URL_MOVE_PAGE, params);
            }

            /**
             * 画面に表示している情報を更新する
             */
            async function reloadContents() {
                // NOTE: 0ページ移動した先の情報を取得 = 現在のページの最新情報を取得
                return movePage(0);
            }

            /**
             * 部分ページを書き換える
             * @@param {string} data 書き換えるHTML文字列
             */
            function updatePartialPage(data) {
                $partialPage.html(data);
            }
        });
    </script>
}