@model Zouryoku.Pages.JissekiNyuryoku.IndexModel.CardsViewModel

@{
    var BumonProcessList = (List<SelectListItem>?)ViewData["BumonProcessList"];
    var DisableInput = ViewData["DisableAllInput"];
}


@for (int i = 0; i < Model.NippouAnkens.Count; i++)
{
    <div class="card card-body bg-light d-flex flex-column flex-lg-row gap-3 mb-2">


        <div class="flex-grow-1">

            <div class="toggle-group mb-3 d-inline-flex">

                <input asp-for="NippouAnkens[i].IsLinked" type="radio" class="btn-check" id="linkedTrue_@i" value="true" disabled="@DisableInput">
                <label class="btn btn-outline-primary" for="linkedTrue_@i">原価連動する</label>

                <input asp-for="NippouAnkens[i].IsLinked" type="radio" class="btn-check" id="linkedFalse_@i" value="false" disabled="@DisableInput">
                <label class="btn btn-outline-primary" for="linkedFalse_@i">原価連動しない</label>

            </div>
            <div class="row g-1 g-lg-2 mb-2">
                <div class="col-12 col-lg-auto" style="min-width: 100px;">
                    <label class="col-form-label py-0 py-lg-1">
                        @Html.DisplayNameFor(m => m.NippouAnkens[i].KingsJuchuNo)
                    </label>
                </div>
                <div class="col-10 col-lg-4">
                    <input asp-for="NippouAnkens[i].IsGenkaToketu" class="visually-hidden" readonly />
                    <div class="input-group">
                        <input asp-for="NippouAnkens[i].KingsJuchuNo"
                               id="juchuNo_@i"
                               class="form-control"
                               readonly />
                        <button class="btn btn-primary btn-search-anken" type="button" data-index="@i" disabled="@DisableInput">
                            <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="col-12 col-lg-auto ps-lg-4">
                    <label class="col-form-label py-0 py-lg-1">顧客名</label>
                </div>

                <div class="col-12 col-lg">
                    <input asp-for="NippouAnkens[i].KokyakuKaisyaId" id="kokyakuId_@i" class="visually-hidden" readonly />
                    <div class="input-group">
                        <input asp-for="NippouAnkens[i].KokyakuName" id="kokyakuName_@i" class="form-control" readonly>
                        <button class="btn btn-primary btn-search-kokyaku" data-index="@i" disabled="@DisableInput">
                            <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
            <div class="row g-1 g-lg-2 mb-2">
                <div class="col-12 col-lg-auto" style="min-width: 100px;">
                    <label class="col-form-label py-0 py-lg-1">
                        @Html.DisplayNameFor(m => m.NippouAnkens[i].AnkenName)
                        /
                        @Html.DisplayNameFor(m => m.NippouAnkens[i].ChaYmd)
                        </label>
                </div>
                <div class="col-12 col-lg">
                    <div class="d-flex flex-lg-row flex-column gap-2">
                        <input asp-for="NippouAnkens[i].AnkensId" id="ankenId_@i" class="visually-hidden" />
                        <input asp-for="NippouAnkens[i].AnkenName" id="ankenName_@i" class="form-control input-local" readonly>
                        <input asp-for="@Model.NippouAnkens[i].ChaYmd" id="chaYmd_@i" class="form-control input-local" style=" width:8rem" readonly />
                    </div>

                </div>
            </div>
            <div class="row g-1 g-lg-2 mb-2">
                <div class="col-12 col-lg-auto" style="min-width: 100px;">
                    <label class="col-form-label py-0 py-lg-1">プロセス</label>
                </div>
                <div class="col-10 col-lg-4 ">
                    <select class="form-select" asp-for="NippouAnkens[i].BumonProcessId" asp-items="BumonProcessList" disabled="@DisableInput">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row g-1 g-lg-2 mb-2">
                <div class="col-10 col-lg-auto" style="min-width: 100px;">
                    <label class="col-form-label py-0 py-lg-1">
                        @Html.DisplayNameFor(m => m.NippouAnkens[i].JissekiJikan)
                    </label>
                </div>
                <div class="col-lg-auto">
                    <select class="form-select jisseki-time" asp-for="NippouAnkens[i].JissekiJikan" style="width: 120px;" disabled="@DisableInput">
                        <option value="0"></option>
                        @for (int time = 1; time <= 24; time++)
                        {
                            <option value="@time">@time 時間</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex flex-lg-column flex-row gap-2">
            <button type="button" data-index="@i" class="btn btn-outline-primary text-nowrap copy-nippouanken-btn ms-auto ms-lg-0" disabled="@DisableInput">
                <i class="fa-regular fa-copy"></i>
                コピー
            </button>
            <button type="button" data-index="@i" class="btn btn-outline-danger delete-nippouanken-btn ms-lg-0" disabled="@DisableInput">
                <i class="fa-solid fa-trash"></i>
                削除</button>
        </div>

    </div>
}

