@page
@using CommonLibrary.Extensions
@using CommonLibrary.Utils
@using Zouryoku.Pages.Shared.Components
@using ZouryokuCommonLibrary.Utils

@model Zouryoku.Pages.JissekiNyuryoku.IndexModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "実績入力";
}

<partial name="_ZouryokuHeader" model="Model" />

<div class="container-fluid mt-2">

    <form method="post" id="jisseki-form">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="NippouInput.SyainBaseId" />
        <input type="hidden" asp-for="NippouInput.JissekiDate" />
        <input type="hidden" asp-for="NippouInput.IsDairiInput" />
        <input type="hidden" asp-for="NippouInput.Id" />
        <input type="hidden" asp-for="NippouInput.SyukkinHm1" />
        <input type="hidden" asp-for="NippouInput.TaisyutsuHm1" />
        <input type="hidden" asp-for="NippouInput.SyukkinHm2" />
        <input type="hidden" asp-for="NippouInput.TaisyutsuHm2" />
        <input type="hidden" asp-for="NippouInput.SyukkinHm3" />
        <input type="hidden" asp-for="NippouInput.TaisyutsuHm3" />
        <input type="hidden" asp-for="NippouInput.JitsudouTime" />
        <input type="hidden" asp-for="NippouInput.YakanTime" />
        <input type="hidden" asp-for="NippouInput.ShinyaTime" />
        <input type="hidden" asp-for="NippouInput.YakanShinyaTime" />
        <input type="hidden" asp-for="NippouInput.TotalJissekiJikan" />
        <input type="hidden" asp-for="NippouInput.Total3MonthZangyoTotal" />
        <input type="hidden" asp-for="NippouInput.RuisekiJikangai" />
        <input type="hidden" asp-for="NippouInput.Version" />

        <div class="d-flex justify-content-between">

            @* 勤務表画面へ遷移
            勤務日報時間修正画面へ遷移 *@
            <a class="btn btn-secondary"
               href="javascript:history.back()">
                <i class="fa-solid fa-arrow-left"></i>
                戻る
            </a>
            <div>
                @if (Model.NippouInput.IsIchijiHozonButtonVisible)
                {
                    <button data-js="btn-temporary-save" class="btn btn-secondary">
                        <i class="fa-light fa-file-pen"></i>
                        一時保存
                    </button>
                }

                @if (Model.NippouInput.IsKakuteiButtonVisible)
                {
                    <button data-js="btn-confirm" class="btn btn-primary">
                        <i class="fa-solid fa-circle-check "></i>
                        確定
                    </button>
                }

                @if (Model.NippouInput.IsKakuteiKaijoButtonVisible)
                {
                    <button data-js="btn-cancel-confirm" class="btn btn-danger ">
                        確定解除
                    </button>
                }

            </div>
        </div>

        <p class="mt-2 mb-3 fs-7">
            @Model.NippouInput.JissekiDate.YMDJp() (@Model.NippouInput.JissekiDate.DayOfWeek.ToJpShortString())
        </p>

        @if (!string.IsNullOrEmpty(Model.NippouInput.MessageString))
        {
            <div class="app-alert__warn mb-3 py-2 px-2 rounded">
                @Html.DisplayFor(m => m.NippouInput.MessageString)
            </div>
        }

        <div class="d-flex flex-column flex-lg-row gap-2 gap-lg-5 ">
            @* 勤務時間テーブル *@
            <div class="col-lg-4">
                <h3 class="mb-1  ">
                    勤務時間
                </h3>
                <div class="table-responsive table-width-lg">
                    <table class="table table-bordered mb-0 table-sm">
                        <thead class="table-primary text-center">
                            <tr>
                                <th class="th-kinmujikan"></th>
                                <th class="th-shuttaikin">出退勤時間</th>
                                <th class="th-kinmu">勤務時間</th>
                                <th class="th-jisseki">実績時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <th rowspan="3" class="table-primary text-center align-middle border-1">勤務時間</th>
                                <td id="syuttaikin1">
                                    @Html.DisplayFor(m => m.NippouInput.Syuttaikin1)
                                </td>
                                <td rowspan="3" class=" align-middle">
                                    @Html.DisplayFor(m => m.NippouInput.JitsudouTimeText)
                                </td>
                                <td rowspan="3" class=" align-middle">
                                    <span id="jissekiHour">
                                        @Html.DisplayFor(m => m.NippouInput.TotalJissekiJikanText)
                                    </span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td id="syuttaikin2">
                                    @Html.DisplayFor(m => m.NippouInput.Syuttaikin2)
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td id="syuttaikin3">
                                    @Html.DisplayFor(m => m.NippouInput.Syuttaikin3)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-100">
                <h3 class="mb-1 d-none d-lg-block">
                    申請状況
                </h3>
                <h3 class="mb-1 d-lg-none">
                    申請
                </h3>
                <div class="table-responsive">
                    <table class="table table-bordered d-none d-lg-table table-sm">
                        <thead class="table-primary text-center">
                            <tr>
                                <th class="col-2">申請日</th>
                                <th class="col-3">申請内容</th>
                                <th class="col-2">承認日</th>
                                <th class="col-4">状況</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NippouInput.ShinseiInfos)
                            {
                                <tr style="height: 1.8rem">
                                    <td>@Html.DisplayFor(_ => item.ShinseiYmd)</td>
                                    <td>@Html.DisplayFor(_ => item.UkagaiSyubetsName)</td>
                                    <td>@Html.DisplayFor(_ => item.ShoninYmd)</td>
                                    <td>@Html.DisplayFor(_ => item.Status)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @foreach (var item in Model.NippouInput.ShinseiInfos)
                    {
                        <table class="table table-bordered d-lg-none">
                            <tr>
                                <th rowspan="4" class="table-primary" width="30">
                                </th>
                                <th class="table-primary" width="70">申請日</th>
                                <td>@Html.DisplayFor(_ => item.ShinseiYmd)</td>
                            </tr>
                            <tr>
                                <th class="table-primary">申請内容</th>
                                <td>@Html.DisplayFor(_ => item.UkagaiSyubetsName)</td>
                            </tr>
                            <tr>
                                <th class="table-primary">承認日</th>
                                <td>@Html.DisplayFor(_ => item.ShoninYmd)</td>
                            </tr>
                            <tr>
                                <th class="table-primary">状況</th>
                                <td>@Html.DisplayFor(_ => item.Status)</td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-between flex-lg-row mb-4 align-items-start my-lg-3 gap-2 gap-lg-5 ">
            <div class="col-lg-4 d-flex gap-2">
                <div class="d-flex align-items-center text-nowrap rounded px-3 label-sm-fixed justify-content-start justify-content-lg-center"
                     style="background-color:#cfe2ff;">
                    出勤区分
                </div>
                <div class="d-flex flex-column gap-2 w-100">
                    <div class="col-12 col-lg-7">
                        <select class="form-select" id="syukkinKubun1"
                                asp-for="NippouInput.SyukkinKubun1"
                                asp-items="Model.NippouInput.SyukkinKubun1List">
                        </select>
                    </div>
                    <div class="col-12 col-lg-7">
                        <select class="form-select" id="syukkinKubun2"
                                asp-for="NippouInput.SyukkinKubun2"
                                asp-items="Model.NippouInput.SyukkinKubun2List">
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-flex gap-2 justify-content-start align-items-center w-100 ">
                <div class="d-flex justify-content-center align-items-center rounded px-lg-2 label-sm-fixed text-nowrap"
                     style="height:35px; background-color:#ffe6e6;">
                    振替休暇取得予定日
                </div>
                <div class="input-group input-width-custom">
                    <input type="text" asp-for="NippouInput.FurikyuYoteiDate" class="form-control" />
                </div>
                <div id="datepickerWrapper" class="d-none">
                    <partial name="Components/_Datepicker"
                             model="@(new DatepickerModel { Id = "NippouInput_FurikyuYoteiDate" })" />
                </div>
            </div>
        </div>

        <div class="header d-flex flex-row justify-content-between">
            <h6 class="mb-0">実績入力</h6>
            <button id="btn-copy-last-day-jisseki" class="btn btn-outline-success">
                <i class="fa-regular fa-clone-plus"></i>
                前日コピー
            </button>
        </div>

        <div id="nippou-anken-container">
            <div id="jisseki-container-cards">
                @{
                    var vd = new ViewDataDictionary(ViewData);
                    vd.TemplateInfo.HtmlFieldPrefix = "NippouInput";
                }
                @await Html.PartialAsync("_JissekiInputListPartial", Model.NippouInput.JissekiInputs, vd)
            </div>
        </div>

        <div class="d-flex justify-content-end mb-2">
            <button type="button" id="btn-add-new-jisseki-card" class="btn btn-outline-success">
                <i class="fa-solid fa-plus"></i>追加
            </button>
        </div>
        <div class="d-flex justify-content-end mb-2">
            @if (Model.NippouInput.IsIchijiHozonButtonVisible)
            {
                <button data-js="btn-temporary-save" class="btn btn-secondary ms-2" type="submit">
                    <i class="fa-light fa-file-pen"></i>
                    一時保存
                </button>
            }

            @if (Model.NippouInput.IsKakuteiButtonVisible)
            {
                <button data-js="btn-confirm" class="btn btn-primary ms-2">
                    <i class="fa-solid fa-circle-check"></i>確定
                </button>
            }


            @if (Model.NippouInput.IsKakuteiKaijoButtonVisible)
            {
                <button data-js="btn-cancel-confirm" class="btn btn-danger ms-2">
                    確定解除
                </button>
            }
        </div>
    </form>
</div>

@section InputScripts {
    <script>
        $(function(){

            $(document).on('change', '#syukkinKubun1, #syukkinKubun2', function() {
                    if (this.value === "") {
                        this.value = "00";
                    }
                });

            // -----------------------------------
            // 定数
            // -----------------------------------
            // 実績入力欄全体
            const $partialCards = $('#jisseki-container-cards')

            // モーダル画面サイズ
            const MODAL_SIZE = {
                width: 1050,
                height: 700,
            }

            // メッセージハンドルマップ
            // ※モーダル画面からのメッセージ受信用
            const modalMessagehandlers = {
                kokyakuSelected: (data, baseSelector) => applySelectedKokyaku(data, baseSelector),
                ankenSelected:   (data, baseSelector) => applySelectedAnken(data, baseSelector),
            };

            // -----------------------------------
            // 画面の共通変数
            // -----------------------------------
            // 処理対象の実績入力欄のカードのインデックス
            let currentJissekiCardIndex = null;

            // -----------------------------------
            // 初期化
            // -----------------------------------
            bindEvents();

            // 実績合計時間を計算して反映
            updateTotalJissekiTime();

            // Validation共通初期化関数を呼ぶ
            initValidation('#jisseki-form');

            // -----------------------------------
            // イベント登録
            // -----------------------------------
            function bindEvents() {
                // 実績入力欄－追加ボタン
                $("#btn-add-new-jisseki-card").on("click", onAddNewJissekiCard);

                // 実績入力欄－前日コピーボタン
                $("#btn-copy-last-day-jisseki").on("click", onCopyLastDayJissekiCard);

                // 実績入力欄－カードコピーボタン
                $partialCards.on("click", '[data-js="copy-jisseki-card"]', onCopyJissekiCard);

                // 実績入力欄－カード削除ボタン
                $partialCards.on("click", '[data-js="delete-jisseki-card"]', onDeleteJissekiCard);

                // 顧客検索ボタン
                $partialCards.on("click", '[data-js="open-modal-search-kokyaku"]', onOpenModalSearchKokyaku);

                // 案件検索ボタン
                $partialCards.on("click", '[data-js="open-modal-search-anken"]', openModalSearchAnken);

                // 子画面選択項目受け取り
                $(window).on('message', onWindowMessage);

                // 実績時間選択
                $partialCards.on('input change', '[data-js="select-jisseki-time"]', updateTotalJissekiTime);
            }

            // -----------------------------------
            // イベントハンドラ
            // -----------------------------------

            // 実績入力欄－追加ボタン
            function onAddNewJissekiCard(event) {
                event.preventDefault();

                const data = $('#jisseki-form').serializeArray();
                const index = $("#jisseki-container-cards .card").length;
                data.push({ name: 'index', value: index });

                sendAjax(toUrl("AddNippouAnkenInput"), data, function(response){
                    $partialCards.append(response);
                }, false, null, false);
            }

            // 実績入力欄－前日コピーボタン
            function onCopyLastDayJissekiCard(event){
                event.preventDefault();

                const  data = $('#jisseki-form').serializeArray();
                const index = $("#jisseki-container-cards .card").length;
                data.push({ name: 'index', value: index });

                sendAjax(toUrl("CopyFromLastDate"), data, function(response){
                    if (response == null)
                        return;
                    $partialCards.append(response);
                    updateTotalJissekiTime();
                }, false, null, false);
            }

            // 実績入力欄－カードコピーボタン
            function onCopyJissekiCard(event) {
                event.preventDefault();

                const data = $('#jisseki-form').serializeArray();

                data.push({ name: 'index', value: $(this).attr('data-index') });
                sendAjax(toUrl('CopyNippouAnkenInput'), data, function(response) {
                    $partialCards.append(response);
                }, false, null, false);
            }

            // 実績入力欄－カード削除ボタン
            function onDeleteJissekiCard(event) {
                event.preventDefault();

                // 押されたボタン
                const $btn = $(this);

                // 押されたボタンのカードを取得
                const $card = $btn.closest(".jisseki-meisai-card");

                // Id値（日報案件のId）の保持のチェック
                const idValue = $card.find('[data-js="id"]').val();
                const hasIdValue = idValue !== undefined && idValue !== null && idValue !== "";

                if (hasIdValue) {
                    // 既存データなので、delete処理対象にする
                    // IsDeleteをtrueに設定
                    $card.find('[data-js="is-delete"]').val('true');
                    // カードを非表示にする
                    $card.addClass("d-none");
                } else {
                    // 追加ボタンで追加されたカードなので、remove
                    $card.remove();
                }
            }

            // 顧客検索ボタン
            function onOpenModalSearchKokyaku(event){
                event.preventDefault();

                // 対象の実績入力カードのインデックス
                currentJissekiCardIndex = $(this).attr('data-index');

                // URLパラメータの設定
                const params = {
                    canCardClick: true,
                }

                const modalId = 'kokyaku-mei-kensaku-modal';
                const url = toQueryUrl('@Url.Page("../KokyakuMeiKensaku/Index")') + (new URLSearchParams(params)).toString();
                const title = '顧客検索画面';

                showInputModal(modalId,
                    url,
                    "",
                    title,
                    null,
                    MODAL_SIZE.width,
                    MODAL_SIZE.height,
                    "var(--iframe-header-color)");
            }

            // 案件検索ボタン
            function openModalSearchAnken(event){
                event.preventDefault();

                // 対象の実績入力カードのインデックス
                currentJissekiCardIndex = $(this).attr('data-index');

                // 顧客会社ID
                const kokyakuKaisyaId = $(`#NippouInput_JissekiInputs_${currentJissekiCardIndex}__KokyakuKaisyaId`).val();

                // URLパラメータの設定
                const params = {
                    canCardClick: true,
                    canAdd: true,
                    kokyakuId: kokyakuKaisyaId,
                }

                const modalId = "anken-mei-kensaku-modal"
                const url = toQueryUrl('@Url.Page("../AnkenMeiKensaku/Index")') + (new URLSearchParams(params)).toString();
                const title = "案件検索画面"

                showInputModal(modalId,
                    url,
                    "",
                    title,
                    null,
                    MODAL_SIZE.width,
                    MODAL_SIZE.height,
                    "var(--iframe-header-color)");
            }

            // Modal画面からのメッセージ受信
            function onWindowMessage(event) {
                const e = event.originalEvent;

                // セキュリティチェック（オリジン確認）
                if (e.origin !== window.location.origin) return;
                if (!e.data || !e.data.type) return;

                // 対象の実績入力欄のインデックスが取得できていない場合
                if (currentJissekiCardIndex === null) return;

                // Modal画面からのデータ受信用ハンドラー
                const handler = modalMessagehandlers[e.data.type];
                if (!handler) return;

                // セレクターの基礎部分
                const baseSelector = `#NippouInput_JissekiInputs_${currentJissekiCardIndex}__`;

                // 受け取ったデータを反映
                try {
                    handler(e.data, baseSelector);
                } finally {
                    // インデックスを解放
                    currentJissekiCardIndex = null;
                }
            }

            // 顧客検索Modal画面からのデータ受け取り
            function applySelectedKokyaku(data, baseSelector) {
                const {
                    id,
                    name,
                } = data;

                $(`${baseSelector}KokyakuKaisyaId`).val(id);
                $(`${baseSelector}KokyakuName`).val(name);
            }

            // 案件検索Modal画面からのデータ受け取り
            function applySelectedAnken(data, baseSelector) {
                const {
                    ankenId,
                    ankenName,
                    chaYmd,
                    juchuNo,
                    kokyakuId,
                    kokyakuName,
                } = data;

                $(`${baseSelector}AnkensId`).val(ankenId);
                $(`${baseSelector}AnkenName`).val(ankenName);
                $(`${baseSelector}ChaYmd`).val(chaYmd);
                $(`${baseSelector}KingsJuchuNo`).val(juchuNo);
                $(`${baseSelector}KokyakuKaisyaId`).val(kokyakuId);
                $(`${baseSelector}KokyakuName`).val(kokyakuName);
            }

            // 実績合計時間を計算して反映
            function updateTotalJissekiTime(){
                let totalTime = 0;

                $('[data-js="select-jisseki-time"]').each(function() {
                    const value = parseInt($(this).val(), 10);
                    totalTime += isNaN(value) ? 0 : value;
                });

                $("#jissekiHour").text(`${totalTime}:00`);
                $(`#NippouInput_TotalJissekiJikan`).val(totalTime);
            }

            // 確定解除ボタン押下
            $('[data-js="btn-cancel-confirm"]').on("click", function(e){
                e.preventDefault();
                const data = $('#jisseki-form').serializeArray();
                sendGetAjax(toUrl("CancelConfirmValidate"), data, function() {
                    commonConfirm('確定解除してよろしいですか？', null, function() {
                        sendAjax(toUrl('CancelConfirm'), data, function() {
                            onRegisterSuccess("確定解除しました。");
                        }, false, null, false);
                    })
                }, false);
            })
            
            var $form = $("#jisseki-form");

            // 登録系共通
            async function register(actionName, handler) {
                // 既存Validationエラーメッセージクリア
                clearErrors('#jisseki-form');

                // クライアント側バリデーション
                if (!$form.valid()) {
                    return;
                }

                // 確認ダイアログ表示
                commonConfirm(actionName + 'します。よろしいですか？', null,
                    async function() {
                        await executeRegister(actionName, handler);
                    }
                );
            }

            // 登録処理実行
            async function executeRegister(actionName, handler) {
                return await new Promise((resolve) => {
                    sendRegisterAjax(toUrl(handler), $form.serializeArray(),
                        function(result) {
                            switch(result.status){
                                case responseStatusSuccess:
                                    onRegisterSuccess(actionName);
                                    resolve(result);
                                    break;
                                case responseStatusError:
                                    errorMessage(result.message);
                                    resolve(null);
                                    break;
                            }
                        }
                    );
                })
            }

            function onRegisterSuccess(actionName) {
                registerSuccessSwal(actionName, null,
                    function() {
                        location.reload(); // 画面を表示
                    }
                );
            }


            // 一時保存ボタン押下
            $('[data-js="btn-temporary-save"]').on("click", function(e){
                e.preventDefault();
                $.validator.unobtrusive.parse('#jisseki-form');
                register('一時保存', 'TemporarySave');
            })

            // 確定ボタン押下
            $('[data-js="btn-confirm"]').on("click", function(e){
                e.preventDefault();
                register('確定', 'TemporarySave');

                const data = $('#jisseki-form').serializeArray();

                sendAjax(toUrl('FinalConfirmCheck'), data, 
                    async function(response){
                        await executeRegister('確定', 'FinalConfirm');
                        // sendAjax(toUrl('FinalConfirm'), data, function() {
                        // }, true, null, false);
                    }, 
                    true, null, false);
            })
        })

    </script>
}

@section InputStyles {

    <style>
        .header-notification {
            background-color: #ffe6e6;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }

        .input-width-custom {
            width: 100%;
        }

        .th-kinmujikan {
            width: 11rem;
        }

        .th-shuttaikin {
            width: 12rem;
        }

        .th-kinmu,
        .th-jisseki {
            width: 7rem;
        }

        .fixed-height {
            height: 120px;
            min-height: 120px;
            max-height: 120px;
        }

        @@media (min-width: 992px) {
            .input-width-custom {
                width: 17rem;
            }

            .work-category-input {
                width: 50%;
                height: 100%;
            }

            .table-width-lg {
                width: 95%;
            }
        }

        @@media (max-width: 991.98px) {
            .label-sm-fixed {
                width: 17rem;
            }
        }
    </style>
}
